[submodule "rplidar_ros2"]
	path = rplidar_ros2
	url = https://github.com/babakhani/rplidar_ros2.git
[submodule "diffdrive_arduino"]
	path = diffdrive_arduino
	url = git@github.com:DJacquemont/diffdrive_arduino.git
[submodule "blockbuster_core"]
	path = blockbuster_core
	url = git@github.com:DJacquemont/blockbuster_core.git
